body {
    background: linear-gradient(0deg, #F39494, #F39494),
        linear-gradient(243.18deg, #FDC5C5 25.45%, rgba(242, 152, 222, 0) 100%),
        linear-gradient(243.43deg, #FFA5A5 32.96%, rgba(255, 255, 255, 0) 82.03%);
}

main {
    background-color: #FFFEFE;
}

h1 {
    color: #333333;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 36px;
    line-height: 49.03px;
}

p {
    color: #666666;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
}

p>a {
    color: #089FE0;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
}

input {
    background-color: #F5F5F5;
    color: #999999;
    font-family: Open Sans;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
}

button {
    background-color: #089FE0;
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
}

label {
    font-family: Open Sans;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

label>a {
    font-family: Open Sans;
    color: #089FE0;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}